*, ::after, ::before {
	box-sizing: border-box;
}
html {
	height: 100%;
	background: ghostwhite;
	overflow: hidden;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor
}
body {
	max-width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background: white;
	font-family: 'VT323', monospace, sans-serif;
	font-size: 16px;
}
@font-face {
	font-family: 'Press Start 2P';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Press-Start-2P.woff2) format('woff2');
}
@font-face {
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/VT323.woff2) format('woff2');
}
h1 {
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	font-size: 200%;
	color: gold;
}
h2, h3, h4 {
	font-family: 'Press Start 2P', cursive;
	margin: 5px 1px;
}
h2 {
	font-size: 170%;
}
h3 {
	font-size: 150%;
}
h4 {
	font-size: 130%;
}
p {
	margin: 5px 1px;
}
a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: red;
}
a:hover {
	text-decoration: underline;
}
hr {
	width: 50%;
	border-top: 3px double black;
}
.tengahin {
	text-align: center;
}
.ijoin {
	color: green;
}